{{>navbar user=user}}
<div class="container">
    {{!-- <div class="mt-4 p-2 gap-0 lh-1">
        <h1>Bienvenido {{user.first_name}}</h1>
        <p>Apellido: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Rol: {{user.role}}</p>
        <p id="cartId">Cart Id: {{user.cart.id_cart}}</p>
        <button class="btn btn-outline-primary" onclick="window.location.href='/api/sessions/logout'">Cerrar
            Session</button>
    </div>
    <br /> --}}
    <div class="p-2">
        <h2>Productos</h2>
        {{!-- <h3>Status: {{pagProducts.status}}</h3>
        <button class="btn btn-outline-primary"
            onclick="window.location.href='/api/carts/{{user.cart.id_cart}}'">Carrito</button>
        <button class="btn btn-outline-primary" onclick="window.location.href='/api/sessions/profile'">Perfil</button> --}}
    </div>
    <ul class="pagination justify-content-center mt-3">
        {{#if pagProducts.hasPrevPage}}
        <li class="page-item"><a class="page-link" href={{pagProducts.prevLink}}>Anterior</a></li>
        <li class="page-item"><a class="page-link" href={{pagProducts.prevLink}}>{{pagProducts.prevPage}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link disabled" href={{pagProducts.prevLink}}>Anterior</a></li>
        {{/if}}
        <li class="page-item"><a class="page-link" href=''>{{pagProducts.page}}</a></li>
        {{#if pagProducts.hasNextPage}}
        <li class="page-item"><a class="page-link" href={{pagProducts.nextLink}}>{{pagProducts.nextPage}}</a></li>
        <li class="page-item"><a class="page-link" href={{pagProducts.nextLink}}>Siguiente</a></li>
        {{else}}
        <li class="page-item"><a class="page-link disabled" href={{pagProducts.nextLink}}>Siguiente</a></li>
        {{/if}}
    </ul>

    <ul id="docs" class="d-flex justify-content-center flex-wrap gap-4 p-0">
        {{#each pagProducts.docs}}
        <li class="card " style="width: 19rem;">
            <img src={{this.thumbnails}}[0] class="card-img-top" alt="...">
            <ul class="card-body d-flex align-items-start flex-column list-unstyled gap-1">
                <li class="card-title fs-2">{{this.title}}</li>
                <li><strong>id:</strong> {{this._id}}</li>
                {{!-- <li class="w-100 h-25 overflow-auto" data-bs-title="asdgdf">
                    <strong>description:</strong>{{this.description}}</li> --}}
                <li class="w-100 text-truncate" data-bs-title="asdgdf"><strong>description:</strong>{{this.description}}
                </li>
                <li><strong>price:</strong> {{this.price}}</li>
                <li><strong>code:</strong> {{this.code}}</li>
                <li><strong>stock:</strong> {{this.stock}}</li>
                <li><strong>category:</strong> {{this.category}}</li>
                <br>


                <form action="/api/carts/{{../user.cart.id_cart}}/product/{{this._id}}" method="post"
                    class="w-100 d-flex flex-column gap-2 mt-auto p-3 border rounded">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" value="1" name="quantity" min="1" max="5" class="w-25">
                    <input type="submit" class="btn btn-primary" value="Agregar al carrito" onclick="
                        window.location.href='/api/carts/{{../user.cart.id_cart}}'
                        ">
                </form>
                {{!-- <br>
                <button data-id={{this._id}} class="postButton btn btn-primary bottom-0">Agregar 1 producto al
                    carrito</button> --}}
            </ul>
        </li>

        {{/each}}
    </ul>
    <ul class="pagination justify-content-center">
        {{#if pagProducts.hasPrevPage}}
        <li class="page-item"><a class="page-link" href={{pagProducts.prevLink}}>Anterior</a></li>
        <li class="page-item"><a class="page-link" href={{pagProducts.prevLink}}>{{pagProducts.prevPage}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link disabled" href={{pagProducts.prevLink}}>Anterior</a></li>
        {{/if}}
        <li class="page-item"><a class="page-link" href=''>{{pagProducts.page}}</a></li>
        {{#if pagProducts.hasNextPage}}
        <li class="page-item"><a class="page-link" href={{pagProducts.nextLink}}>{{pagProducts.nextPage}}</a></li>
        <li class="page-item"><a class="page-link" href={{pagProducts.nextLink}}>Siguiente</a></li>
        {{else}}
        <li class="page-item"><a class="page-link disabled" href={{pagProducts.nextLink}}>Siguiente</a></li>
        {{/if}}
    </ul>
</div>